@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("variables.css");
@import url("media.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins 200', sans-serif;
}


/*estilos del header y navegacion*/
header {
    background: lightgray;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 10px;
}

.nave {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 0px;
    padding-left: 60px;
}

.menu {
    display: flex;
}

.aMenu {
    text-decoration: none;
    color: #000;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0px 30px;
    transition: 0.4s;
}

.navTarget,
.cerrar-menu {
    display: none;
    cursor: pointer;
    order: 1;
}

.aMenu:hover {
    background-color: #193d549a;
    color: #d3d3d3;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* estilo de producto*/

.container1 {
    display: flex;
    margin: 10px;
    flex-direction: row;
    height: 50vh;
    margin-top: 125px;
}

.imagenes {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: start;
    justify-content: center;
    justify-items: flex-start;
    width: 50vw;
}

.iamgenes img:hover {
    scale: 1.1;
}

.columnaImg {
    width: 100%;
    height: 10vh;
    object-fit: contain;
}

.mainImage {
    width: 100%;
    height: 40vh;
    object-fit: contain;
}

.product-main-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
}

.nameProducto {
    width: 50vw;
    margin: 15px;
    position: relative;
}

.nameProducto h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin: 0;

}

.nameProducto p {
    margin: 0;
    font-size: 1.2rem;
    padding: 4px 4px 4px 15px;
}

.nameProducto h4 {
    font-size: 1.4rem;
    padding: 15px;
    margin: 0;
}


/*Ventana Emergente*/
.body,
.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbl-modal {
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

.btn-modal:checked~.modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    width: 500px;
    height: 530px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
}

.btn-modal:checked~.modal .contenedor {
    transform: translateY(0%);
}

.contenedor .headerContainer {
    padding: 10px;
    background: var(--colorSecundary);
    color: #000;
}

.contenedor label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
}

.btn-modal {
    display: none;
}

.lbl-modal {
    background: var(--colorTertiary);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.contenedor .carrito {
    display: flex;
    margin: auto;
}

.contenedor img {
    width: 40%;
    display: flex;
    margin: auto;
}

.contenido .rating img {
    display: flex;
    justify-content: start;
    margin: 5px;
}

.carrito {
    display: flex;
    padding: 10px;
    background: var(--colorSecundary);
    color: #000;
    justify-content: center;
    align-items: center;
}

.compras {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.compras img {
    width: 60px;
    height: auto;
    margin-right: 10px;/
}

.compras div {
    flex-grow: 1;
}

.compras h4 {
    margin: 0;
}

.compras p {
    margin: 0;
}