@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("variables.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins 200', sans-serif;
}

body{
    background-color: var(--colorQuaternary);
}

header {
    background-color: var(--colorTertiary); 
    color: var(--colorPrimary);
    padding: 10px;
    text-align: start;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav {
    /* border: 1px solid #db8046; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: var(---colorPrimary);
}

nav a{
    color: var(--colorPrimary);
    padding: 15px 15px;
    font-size: 1.5rem;
    text-align: center;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.encabezado i{
    font-size: 2rem;
}
.container1{
   margin-top: 80px;
}

.box1{
    /* border: 1px solid #000; */
    display: flex;
    margin: 10px;
    flex-direction: row;
    height: 60vh;
    margin-top: 50px;
    
}

.imagenes{
    /* border: 1px solid #125645; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: start;
    justify-content: center;
    justify-items: flex-start;
    width: 50vw;
}

.columnaImg{
    width: 100%;
    height: 14vh;
    object-fit: contain;
}

.mainImagenes{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3{
    width: 50vw;
    margin: 15px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.rating i{
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 120px;
    color: var(--colorQuaternary); /*color temporal*/
}


.box3 h2{
    color: var(--colorSecundary);
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 2rem;
    margin: 0;
}
.box3 p{
    color: var(--colorPrimary);
}

input{
    padding-top: 10px;
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

button .carrito{
    padding-top: 10px;
}

.cant{
    padding-bottom: 15px;

}

/*ventana emergente*/

.body, .modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbl-modal{
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

.btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}

.contenedor{
    width: 500px;
    height: 530px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
}

.btn-modal:checked ~ .modal .contenedor{
    transform: translateY(0%);
}

.contenedor .headerContainer{
    padding: 10px;
    background: var(--colorSecundary);
    color: #fff;
}


.contenedor label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.btn-modal{
    display: none;
}

.lbl-modal{
    background: var(--colorTertiary);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.contenedor .carrito{
    display: flex;
    margin: auto;
}

.contenedor img{
    width: 40%;
    display: flex;
    margin: auto;
}

.contenido .rating img{
    display: flex;
    justify-content: start;
    margin: 5px;
}

.carrito{
    display: flex;
    padding: 10px;
    background: var(--colorSecundary);
    color: #fff;
    justify-content: center;
    align-items: center;
}

.compras {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.compras img {
    width: 60px; 
    height: auto; 
    margin-right: 10px; /
}

.compras div {
    flex-grow: 1; 
}

.compras h4 {
    margin: 0; 
}

.compras p {
    margin: 0; 
}


