:root{
    --colorPrimary:  #0D1F23;
    --colorSecundary: #132E35;
    --colorBody: #2D4A53;
    --colorTertiary: #69818D;
    --colorQuaternary: #AFB3B7;
    --colorBonton: #5A636A;
    --color1: #24343B;
    --color2:#667572;
    --color3: #D38366;
    --color4: #922F16;
    --color5: #431E12;
    --color6: #2A150C;
} 